#characterArrangement {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    grid-gap: 2em;
    width: 56%;
    margin: 4em auto 0 auto;
}

#characterArrangement div {
    background-color: #C4C0A8;
}

#characterArrangement div img {
    width: 65%;
}

.studentInfo {
    color: #1B5F3B;
    font-weight: bold;
}

.studentCrest {
    color: darkblue;
    font-weight: bold;
}

.dislikeColor {
    color: darkred
}

.likeColor {
    color: green;
}